{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a href="{% url 'index' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="{% static 'assets/images/logos/dark-logo.svg' %}" width="180" alt="">
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Change Password</b></h2>
                  <p class="f-16 mt-2">Enter new password.</p>
                </div>
              </div>
            </div>
            <form method="post">
              {% csrf_token %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <span class="text-danger">{{ error }}</span>
                {% endfor %}
              {% endif %}

              {% for field in form %}
              <div class="form-floating mb-3">
                {{field}}
                <label for="floatingInput">{{ field.label }}</label>
              </div>
              <span class="text-danger">{{ field.errors }}</span>
              {% endfor %}
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Change</button>
              </div>
            </form>
            <hr />
            <div class="d-flex align-items-center justify-content-center">
              <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
              <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Sign In</a>
              <a class="text-primary fw-bold ms-2" href="{% url 'register' %}">Create an account</a>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
